@import "./variables.css";

body {
  font-family: "Lobster", cursive;
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

.header__nav {
  padding: 25px 0px;
  display: flex;
  justify-content: center;
}

.nav__item:not(:last-child) {
  margin-right: 72px;
}

.nav__link {
  color: #ff0000;
  font-weight: 700;
  letter-spacing: 2.7px;
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
}

/* main */

.main__img {
  width: 100%;
}

.main__article {
  margin: 48px 67px 0px 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  color: var(--main-text-color);
  font-weight: 700;
  letter-spacing: 3.3px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  line-height: 27px;
}

.main__text {
  margin-top: 38px;
}

.text__paragraph {
  color: var(--main-text-color);
  font-weight: 400;
  letter-spacing: 2.4px;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
}

.second_paragraph {
  margin-top: 28px;
}

.main__button {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.8px;
  font-size: 12px;
  padding: 18px 43px;
  border: none;
  border-radius: 4px;
  margin-top: 66px;
  cursor: pointer;
}

/* footer */

.footer__rights {
  color: var(--main-text-color);
  font-weight: 700;
  letter-spacing: 2.4px;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin: 82px 105px 29px 0px;
}
